<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<h2>Categories:</h2>
<ul>
  <% @post.categories.each do |category| %>
    <%=category.name%>
    <% end %>
</ul>

<h2>Comments:</h2>
<ul>
  <% @post.comments.each do |comment| %>
    <%= comment.user.username%> says:
    <%=comment.content%><br><br>
  <% end %>
</ul>

<h2>Users That Commented</h2>
<ul>
  <% @post.users.distinct.each do |user| %>
    <%=link_to user.username, user_path(user)%>,
  <% end %>
</ul>

<h2>Comment:</h2>
<%= form_for @post.comments.new do |f| %>
  <%= f.hidden_field :post_id %>
  <p>
    Existing User:
    <%= f.collection_select :user_id, User.all, :id, :username %>
  </p>

  <%= f.fields_for :user, User.new do |user_fields| %>
    New <%= user_fields.label :username %>
    <%= user_fields.text_field :username %>
  <% end %>

  <p>
    <%= f.label :content, "New Comment" %><br>
    <%= f.text_area :content %>
  </p>
  <br/>
  <%= f.submit %>
<% end %>
